.config-table {
    display: table;         
    width: 310px;         
    border-spacing: 5px;
    padding-left: 10px;
}
.config-row {
    display: table-row;
    clear: both;
    border-spacing: 5px;
}
.config-col-field {
    float: left;
    text-align: right;
    display: table-column;         
    width: 40px;         
    border-spacing: 5px;
    padding-right: 10px;
}
.config-col-widget {
    float: left;
    display: table-column;         
    width: 200px;         
    border-spacing: 5px;         
}
.config-col-value {
    float: left;
    display: table-column;         
    width: 50px;         
    border-spacing: 5px;         
}
.config-card {
    float: right;
    box-shadow: 0 4px 8px 0 #afafaf;
    line-height: 1.75;
    display: block;
    height: 720px;
}
.content-card {
    float: left;
    box-shadow: 0 4px 8px 0 #afafaf;
    line-height: 1.75;
    display: block;
    width: auto;
    height: 720px;
    overflow: scroll;
}
input[type="range"] {
    width:180px;
}
.config-button { 
    width:45px; 
}
.json-textarea {
    float: left;
    width: 800px;
    height: 650px;
}
